<div id="show-page" class="main-container">
  <div id="project-show-header clearfix">
    <div id="project-title-and-byline">
      <div id="project-title">
        <%= project.escape('title') %>
      </div>
      <div id="project-byline">
       by <b><%= project.user().escape('name') %></b>
      </div>
    </div>

    <ul id="project-show-nav-left">
      <li id="home" class="active">Home</li>
      <li id="updates" count=0>Updates</li>
      <li id='backers' count=<%= project.get('num_backers') %>>Backers</li>
      <li id='comments' count=1337>Comments</li>
    </ul>
  </div>

  <div class="primary-container clearfix">
    <div id="project-show-left-column"></div>

    <div id="project-show-right-column">
      <div id="stats"></div>
      <div id="user-details"></div>
      <div id="pledges"></div>
      <div id="funding-period">
        Funding period:<br>
        <%= moment(project.escape('created_at')).format('MMM Do YYYY') %> - <%= moment(project.escape('end_date')).format('MMM Do YYYY') %> 
      </div>
    </div>
  </div>
</div>