<div class="jumbotron">
  <div class="container">
    <center><h2>Start building your project!</h2></center>
  </div>
</div>


<form action="/projects/<%= @project.id %>" method="post">
<input type="hidden"
       name="_method"
       value="patch">

  <%= auth_token %>

  <label>Category<br>
    <select name="project[category_id]">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end -%>
    </select>
  </label><br>

  

  <label>Title<br>
    <input name="project[title]" type="text" value="<%= @project.title %>"><br>
  </label><br>

  <input type="submit" value="Submit" class="btn btn-primary"><br>
</form>