<title>
  <%= @project.title %> by <%= @project.user.name %>
</title>

<div id="project-title">
  old <%= @project.title %>
</div>

<div id="project-author">
  by <%= @project.user.name %>
</div>


<%= @project.category.name %><br>
