<!DOCTYPE html>
<html>
  <head>
    <title>SatoshiFunder</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      $(document).ready(function(){
        <% if signed_in? %>
          SatoshiFunder.initialize_with_user(<%= current_user.to_json.html_safe %>);
        <% else %>
          SatoshiFunder.initialize();
        <% end -%>
      });
    </script>

  </head>
  <body>

    <%= yield %>

    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="mainModalLabel"></h4>
          </div>
          <div class="modal-body">  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Close</button>
            <button type="button" class="btn btn-primary" id="submit"></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
